<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务名称，自定义-->
    <dubbo:application name="TmsService"/>

    <!--注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.1.47:2181"/>

    <!--dubbo的协议和端口 添加host可以指定使用的网卡-->
    <dubbo:protocol host="192.168.1.47" port="20880"/>

    <!--暴露服务 发布-->
    <dubbo:service interface="com.kaishengit.tms.service.AccountService" ref="accountServiceImpl"/>
    <dubbo:service interface="com.kaishengit.tms.service.TicketStoreService" ref="ticketStoreServiceImpl"/>
    <dubbo:service interface="com.kaishengit.tms.service.TicketService" ref="ticketServiceImpl"/>
    <dubbo:service interface="com.kaishengit.tms.service.RolePermissionService" ref="rolePermissionServiceImpl"/>


</beans>